*.pdf
!report_*/**/*.pdf

# Latex
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls

benchmarks/
fast-downward-24.06.1/
planning-lama/
LPG-td-1.4/

.vscode
.venv

__pycache__
*.py[cod]
*.pyo
*.pyd
*.egg-info
*.egg
*.DS_Store
*.ipynb_checkpoints
*.coverage
*.coverage.*
.pytest_cache



